<html>

<head>
  <meta charset='UTF-8' />
  <title>Support Request for Tour Booking</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f9f9f9;
      margin: 0;
      padding: 0;
      color: #333;
    }

    .container {
      width: 80%;
      max-width: 600px;
      margin: 20px auto;
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      padding: 20px;
    }

    .header {
      text-align: center;
      padding-bottom: 20px;
      border-bottom: 1px solid #eaeaea;
    }

    .header h2 {
      margin: 0;
      color: #007BFF;
    }

    .content {
      padding: 20px 0;
    }

    .content p {
      line-height: 1.6;
      margin: 10px 0;
    }

    .content p strong {
      display: inline-block;
      width: 150px;
      color: #555;
    }

    .footer {
      text-align: center;
      padding-top: 20px;
      border-top: 1px solid #eaeaea;
      color: #777;
    }

    .footer b {
      padding-bottom: 4px;
      border-bottom:
        1px double #000;
    }

    .footer a {
      color: #007bff;
      text-decoration: none;
    }

    .footer a:hover {
      text-decoration: underline;
    }
  </style>
</head>

<body>
  <div class='container'>
    <div class='header'>
      <h2>Customer Support Request for Booking</h2>
    </div>
    <div class='content'>
      <p><strong>Full Name:</strong> {{fullName}}</p>
      <p><strong>Email:</strong> {{email}}</p>
      <p><strong>Phone:</strong> {{phone}}</p>
      {{#if numberPerson}}
      <p><strong>Number Person:</strong> {{numberPerson}}</p>
      {{/if}}
      <p><strong>Other Request:</strong> {{otherRequest}}</p>

    </div>
    <div class='footer'>
      <p>Thank you for reaching out to us. We will get back to you as soon as possible.</p>
      <b style='text-transform: uppercase;'>TH Global Travel</b>
      <p>Hotline:<a href='tel:+84946707266'>+84946707266</a></p>
      <p>Email: <a href='mailto:info@thglobaltravel.com'>info@thglobaltravel.com</a></p>
      <p>Website: <a href='https://thglobaltravel.com/'>thglobaltravel.com</a></p>
    </div>

  </div>
</body>

</html>